@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}

nav{
	display:flex;
	flex-direction: row;
	align-items: center;
	margin: 50px 0;
	



}

 #logo__inner{
	 flex-grow: 1;
}
.logo{
	font-size: 25px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}


.container{
	max-width: 1170px;
	margin: 0 auto;
}

.nav__bar{
	font-size: 20px;
	margin-right: 40px;
	text-decoration: none;
	color: #000;
	font-weight: 600;
	position: relative;

}

.nav__bar:after{
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #000; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
	
}

.nav__bar:hover:after,
.nav__bar:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.web__project{


	background-image: url(img/photo__table.jpg);
	background-size: cover;
	width: 100%;
	height: 700px;
	
	
}

.photo__table{
	background: #000;
	width: 100%;
	height: 700px;
	opacity: 0.5;
}


.web__header{

	color: #fff;
	font-size: 60px;
	font-weight: 400;
	text-align:center;
	padding-top: 195px;
}

.web__text{
	color: #fff;
	font-size: 22px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 113px;
}


.web__button{
	display: flex;
	justify-content: center;
}

.one__button{
	color: #fff;
	font-size: 20px;
	width: 220px;
	height: 70px;
	text-decoration: none;
	background-color: transparent;
	box-shadow: none;
	border: 3px solid;
	cursor: pointer;
	margin-right: 25px;
	
}



.two__button{
	color: #fff;
	font-size: 20px;
	width: 223px;
	height: 70px;
	background-color: #00897b;
	
	text-decoration: none;
	border: none;
	cursor: pointer;
	margin-bottom: 100px;

}

.arrow__down i{
    font-weight: 900;
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    display: block;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;



} 

i{
	text-decoration: none;
}

.heading{
	padding-top: 125px;
	margin-bottom: 38px;
	font-size: 30px;
	font-weight: 700;
	text-align: center;


}

.text{
	margin: 0 auto;
	margin-bottom: 125px;
	text-align: center;
	font-size: 15px;
	max-width: 630px;

}

.About__inner{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 140px;

}

.icon{
 margin: 0 auto;
}

.main__text{
	text-align: center;
	align-items: center;
}

.head{
	margin-bottom: 30px;
	margin-top: 40px;
	font-size: 20px;
	font-weight: 600;

}

.subhead{
	font-size: 15px;
	margin-bottom: 126px;

}





.Our__services{
	background-color: #e4fdf9;
}


.Our__services__heading{
	padding-top: 174px;
	margin-bottom: 38px;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}


.Our__services__text{
	margin: 0 auto;
	padding-bottom: 118px;
	text-align: center;
	font-size: 15px;
	max-width: 630px;
	font-weight: 500;

}



.services{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap:30px;

}

.services__inner{
	background-color: #fff;
	text-align: center;
	transition: 0.3s;

}

.services__inner:hover{
	background-color: #00897b;
	color: #fff;
	transition: 0.3s;
	box-shadow: 5px 8.66px 20px 5px rgba(0, 0, 0, 0.137);
	
}

.crutch{
	opacity: 0;
}
.services__inner:hover .services__button{
	color: #fff;
	border: 2px solid #fff;
	

}

.services__inner:hover .services__icon{
	filter:invert(1);
	transition: 0.3s;
}


.services__button:hover{
	cursor: pointer;
}


.services__icon{
	padding-top: 60px;
	
	
}
.services__head{
	font-size: 20px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom:25px; 
}

.services__text{
	font-size: 15px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;

}

.services__button{
		margin-bottom: 50px;
		background-color: transparent;
		width: 150px;
		height: 50px;
		border: 2px solid #000;
		font-size: 20px;
		font-weight: 500;
		cursor: pointer;



}


.latest__button{
	display: flex;
	justify-content: center;
}

.button__inner{
	font-size: 20px;
	font-weight: 500;
	padding: 20px 35px;
	background-color: transparent;
	border: 2px solid #00897b;
	margin-right: 15px;
	cursor: pointer;
	margin-bottom:120px;
	transition: 0.3s;


}

.button__inner:hover{
	color: #fff;
	background-color: #00897b;
	transition: 0.3s;
}



.image__rectangle{

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap:40px;
}


.image__1{
	overflow: hidden;
	background-image: url(img/1.png);
	background-color: #000;
	width: 370px;
	height: 370px;
}

.image__2{
	background-image: url(img/latest/2.png);
	width: 370px;
 	height: 370px;
 	background-color: #000;
}

.image__3{
	background-image: url(img/latest/3.png);
	width: 370px;
 	height: 370px;
 	background-color: #000;
}

.image__4{
	background-image: url(img/latest/4.png);
	width: 370px;
 	height: 370px;
 	background-color: #000;
}

.image__5{
	background-image: url(img/latest/5.png);
	width: 370px;
 	height: 370px;
 	background-color: #000;
}

.image__6{
	background-image: url(img/latest/6.png);
	width: 370px;
 	height: 370px;
 	background-color: #000;

}

.image__head{
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	padding-top: 150px;

	display: none;
}

.image__text{
	text-align: center;
	color: #fff;
	padding-bottom: 170px;
	display: none;

}


.image__1:hover .image__head{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
    
}

.image__1:hover .image__text{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__2:hover .image__head{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__2:hover .image__text{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__3:hover .image__head{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__3:hover .image__text{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__4:hover .image__head{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__4:hover .image__text{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__5:hover .image__head{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__5:hover .image__text{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__6:hover .image__head{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.image__6:hover .image__text{
	display: block;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}


.view__button{
	display: flex;
	justify-content: center;
}
.button__view{
	margin-top:130px;
	margin-bottom:135px;  
	width: 220px;
	height: 70px;
	font-size: 20px;
	font-weight: 500;
	background-color: transparent;
	border: 2px solid #00897b;
	color: #000;
	cursor: pointer;
	transition: 0.3s;
	
	 
}

.button__view:hover{
	background-color: #00897b;
	color: #fff;
	transition: 0.3s;
	
}


.pricing__plan{
	background-color: #f0f1f1;
}


.offers{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:30px;
}

.offers__inner{
	width: 370px;
	height: 665px;
	background-color: #fff;
	background-image: url(img/pricing/background.png);
	margin-bottom: 125px;
	transition: 0.3s;
}

.offers__inner:hover{
	box-shadow: 1.5px 2.598px 25px 0px rgba(0, 0, 0, 0.137);
	transition: 0.3s;
}

.offers__head{
	font-size: 25px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
	color: #fff;
}

.offers__price{
	font-size: 50px;
	text-align: center;
	color: #fff;
	padding-bottom: 115px;

}

.offers__price sup{
	font-size: 25px;
}

.offers__price sub{
	font-size: 17px;
}

.offers__body{
	text-align: center;
	font-size: 17px;
	font-weight: lighter;

}

.hr__offers{
	align-items: center;
	width: 180px;
}


.button__offers{
	display: flex;
	justify-content: center;
}
.offers__button{
	width: 180px;
	height: 60px;
	background-color: transparent;
	border: 2px solid #000;
	margin-top: 70px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s;



}

.offers__button:hover{
	border: 2px solid #00897b;
	background-color: #00897b;
	transition: 0.3s;
	color: #fff;
	
}




.team__inner{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:30px ;
	text-align: center;
}

.team__photo{
	margin-bottom: 40px;

}

.team__name{
	font-size: 20px;
	font-weight: 600;

}

.team__position{
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 30px;


}

.team__social__networks{
	display: flex;
	justify-content: center;
	
}

.networks__inner{
	background-color: #f0f1f1;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	border-radius: 10px;
	margin-bottom: 265px;
	transition: 0.3s;

}



.networks__inner:hover{
	background-color: #3949ab;
	transition: 0.3s;
}

.networks__inner svg{
	margin-top: 15px;
}

.networks__inner:hover #facebook{
	fill: #fff;
}




.blog{
	background-color: #e4fdf9;
}

.blog__inner{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.blog__head{
	margin-top: 65px;
}

.blog__head a{
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: 600;

}

.blog__date{
	display: flex;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 35px;


}

.blog__body{
	font-size: 15px;

}
.blog__date__inner{
	margin-top: 30px;
	margin-right: 40px;
}

.development{
	margin-top: 30px;
	align-items: center;

}


.blog__button{
	margin: 125px 0;
	width: 220px;
	height: 70px;
	background-color: #00897b;
	border: 2px solid #00897b;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	transition: 0.3s;
}

.blog__button:hover{
	background: #fff;
	border: 2px solid #00897b;
	color:#000; 
	transition: 0.3s;
	cursor: pointer;
}




.contact{
	background-image: url(img/contact/background.jpg);
	background-size: cover;
	height: 1255px;
	width: 100%;
}

.contact__inner{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
}

.contact__part{
	
	margin: 0 auto;
	color: #fff;
}

.contact .heading{
	color: #fff;
}
.contact .text{
	color: #fff;
	margin-bottom: 80px;
}

.contact__text{
	text-align: center;
	margin-bottom: 80px;
}

.icn__contact{
	display: flex;
	justify-content: center;
	
}

.input{
	display: flex;
	justify-content: space-between;
}

.input__name{
	border-radius: 10px;
	width: 50%;
	height: 85px;
	font-size: 20px;
	padding-left: 25px;
	
}

.input__email{
	border-radius: 10px;
	width: 50%;
	margin-left: 35px;
	height: 85px;
	font-size: 20px;
	padding-left: 25px;

}

textarea{
	width: 100%;
	border-radius:10px;
	height: 325px;
	resize:none;
	font-size: 20px;
	padding-top: 30px;
	margin-top: 30px;


}

.send__button{
	width: 220px;
	height: 70px;
	border-radius: 10px;
	border: 2px solid #fff;
	float: right;
	font-size: 20px;
	cursor: pointer;
	margin-top: 40px;

	background-color: #fff;


}

.footer{
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 25px 0;
}

